* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.announcement-bar p {
    padding: 7px 0;
    background: #32373C;
    color: #fab900;
    font-size: 14px;
    text-align: center;
}

/*  */

.header {
    padding: 18px 60px;
    background-color: #fab900;
    position: relative;
    z-index: 99;
    transition: all 0.3s linear;
}

.header-menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: flex-start;
    width: 90%;
    justify-content: end;
}

.navbar a svg {
    color: #32373C;
}

.navbar ul li a {
    font-size: 17px;
    text-decoration: none;
    padding: 0px 10px 10px;
    font-weight: 700;
    color: #32373C;
    display: inline-block;
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 12px;
    background-color: #32373C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar ul li a:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 12px;
    background-color: #32373C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#open a::after {
    content: '';
    position: absolute;
    width: 85% !important;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 12px;
    background-color: #32373C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#Pricing a::after {
    content: '';
    position: absolute;
    width: 88% !important;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 12px;
    background-color: #32373C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#Pricing a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#open a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a svg {
    color: #32373C;
    width: 20px;
    padding-top: 3px;
}

header#header {
    overflow: hidden;
}

.logo img {
    width: 100%;
    max-width: 100px;
}

.logo {
    width: 10%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.logo a {
    text-decoration: none;
}

.logo a p {
    color: #32373C;
    font-size: 13px;
    font-weight: 600;
    margin-top: -13px;
}

.navbar ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.search-popup {
    background: #fab900;
    width: 100%;
    height: 180px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    color: #32373C;
    left: 0;
    z-index: 9999999999;
}

input#search {
    width: 33%;
    height: 50px;
    padding: 12px;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #32373C;
    background-color: #fab900;
}

i.fa-solid.fa-xmark {
    position: relative;
    right: 20px;
    font-size: 27px;
    cursor: pointer;
    color: #32373C;
}

.search-form {
    width: 100%;
}

.search-popup button {
    background-color: #32373C;
    color: white;
    cursor: pointer;
    border: none;
    position: relative;
    right: 81px;
    width: 6%;
    font-size: 15px;
    height: 50px;
    border-top: 2px solid #32373C;
    border-bottom: 2px solid #32373C;
    border-right: 2px solid #32373C;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
    pointer-events: all;
}

.humburger {
    display: none;
}


/*  */
/* End-header */

.bread-crumb-item a {
    text-decoration: none;
    cursor: pointer;
    color: #fab900;
}

.bread-crumb-item span {
    color: white;
}

.bread-crumb-item a:hover {
    text-decoration: underline;
    color: white;
}

.hero-tittle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 40px;
    z-index: 1;
}

.resturant-name h1 {
    font-size: 36px;
    margin-top: 5px;
    color: white;
    font-weight: 600;
}

.bread-crumb-item {
    background: #32373C;
    height: 100px;
    width: 60%;
    text-align: center;
    padding-top: 15px;
}

.hero-tittle svg {
    width: 29px;
    fill: #32373C;
    margin-top: -50px;
}

/*  */
.contact-number {
    text-align: center;
}

.contact-number p {
    font-size: 17px;
    line-height: 30px;
    color: #32373C;
    font-weight: 500;
}

.contact-number p a {
    color: #32373C;
}

.contact-number p a:hover {
    color: #fab900;
}

p#touch {
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    color: #32373C;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: underline;
}









/* footer */

.footer {
    background-color: #32373C;
}

.footer-container {
    padding: 50px 30px 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.footer-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-content ul li a {
    font-size: 17px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

#factive {
    text-decoration: underline;
}

.facebook a svg {
    width: 14px;
    color: white;
}

.insta a svg {
    width: 14px;
    color: white;
}

.tiktok a svg {
    width: 14px;
    color: white;
}

.facebook a {
    width: 46px;
    height: 46px;
    background: #f07d00;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 13px;
    justify-content: center;
}

.facebook a:hover {
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.facebook a:hover svg {
    color: #32373C;
}

.tiktok a {
    width: 46px;
    height: 46px;
    background: #f07d00;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 13px;
    justify-content: center;
}

.tiktok a:hover {
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.tiktok a:hover svg {
    color: #32373C;
}

.insta a {
    width: 46px;
    height: 46px;
    background: #f07d00;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 13px;
    justify-content: center;
}

.insta a:hover {
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.insta a:hover svg {
    color: #32373C;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.insta {
    margin-right: 20px;
    margin-left: 20px;
}

.copyright {
    color: white;
    margin-top: 40px;
}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
    height: 14px !important;
    margin: 12px !important;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #f07d00;
    border: 3.5px solid #e0e0e0 !important;
    /* Set the color of the thumb (the draggable part) */
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    /* Set the color of the track (the non-draggable part) */
}

body::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    margin: 0px !important;
    border: none !important;
}

.copyright p {
    margin-top: 8px;
    font-size: 14px;
}

.footer-left-design {
    position: relative;
    top: 70px;
}

.footer-right-design {
    position: relative;
    top: 70px;
}

.footer-design {
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width:872px) {
    .navbar ul li a {
        padding: 0px 8px 10px;
        font-size: 17px;
    }

    .header {
        padding: 19px 10px;
    }

    #contact-box form {
        width: 95%;
    }
}

@media screen and (max-width:972px) {
    .navbar ul li a {
        padding: 0px 8px 10px;
        font-size: 17px;
    }

    .header {
        padding: 19px 10px;
    }

    #contact-box form {
        width: 95%;
    }
}

@media screen and (max-width:800px) {
    .navbar ul li a {
        padding: 0px 8px 10px;
        font-size: 17px;
    }

    .header {
        padding: 19px 10px;
    }

    #contact-box form {
        width: 95%;
    }
}

@media screen and (max-width:767px) {


    /* header */


    .humburger {
        display: block;
        margin-right: 15px;
    }

    .bar i {
        font-size: 29px !important;
    }

    .cross i {
        font-size: 29px !important;
    }

    .navbar a svg {
        display: none;
    }

    .logo {
        width: 26%;
    }

    nav.navbar {
        position: absolute;
        top: 86px;
        flex-direction: column;
        background-color: #32373C;
        width: 90%;
        left: -100%;
        text-align: justify;
        justify-content: flex-start;
        height: 100vh;
        transition: all 0.3s linear;
    }

    nav.navbar.active {
        left: 0;
    }

    .cross {
        position: relative;
        left: 20px;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li a {
        font-size: 24px;
        text-decoration: none;
        padding: 20px 20px 10px;
        font-weight: 600;
        color: #fab900 !important;
    }

    .navbar ul li a:after {
        width: 67%;
        left: 37px;
    }

    #open a::after {
        width: 74% !important;
        left: 39px !important;
    }

    #Pricing a::after {
        width: 79% !important;
        left: 39px !important;
    }

    .logo img {
        width: 100%;
        max-width: 70px;
    }

    .header {
        padding: 15px 20px;
    }

    .logo a p {
        font-size: 9px;
    }

    /* End-header */

    .bread-crumb-item {
        height: 85px;
        width: 69%;
        padding-top: 10px;
    }

    .bread-crumb-item a {
        font-size: 13px;
    }

    .resturant-name h1 {
        font-size: 30px;
        margin-top: 0;
    }

    .hero-tittle {
        top: 35px;
    }

    .hero-tittle svg {
        width: 25px;
        margin-top: -57px;
    }

    /*  */

    /* For WebKit browsers */
    ::-webkit-scrollbar {
        width: 12px;
        height: 14px !important;
        margin: 12px !important;
        /* Set the width of the scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #f07d00;
        border: 3.5px solid #e0e0e0 !important;
        /* Set the color of the thumb (the draggable part) */
    }

    ::-webkit-scrollbar-track {
        background-color: #e0e0e0;
        /* Set the color of the track (the non-draggable part) */
    }

    body::-webkit-scrollbar-thumb {
        background-color: #c4c4c4;
        margin: 0px !important;
        border: none !important;
    }


    /* footer */

    .footer-content ul {
        flex-direction: column;
        text-align: center;
    }

    .footer-content ul li a {
        padding-top: 12px;
    }

    /*  */
}